[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca/
[submodule "stai-blockchain-gui"]
	path = stai-blockchain-gui
	url = https://github.com/STATION-I/stai-blockchain-gui
